<%= content_for(:title, "") %>
<div class="container">
  <div id="main-page">
    <h2>Find a place to stay</h2>
    <%= form_tag accomodations_path, id: "search_form", class: "custom show-search-options position-left form-inline", method: :get do %>
      <%= text_field_tag :search, params[:search], id: "location", class: "location input-large form-control", placeholder: "Where do you want to go?" %>
      <%= submit_tag "Search", class: "btn btn-primary btn-large btn-contrast", id: "submit_location", name: nil %>
    <% end %>
  </div>
</div>
<div>
  <div class="container browse">
    <h3>Not sure where to stay? Browse accomodations in these select cities.</h3>
    <div class="row featured-cities">
      <div class="new-york cities">
        <h1>New York</h1>
      </div>
      <div class="paris cities">
        <h1>Paris</h1>
      </div>
      <div class="tokyo cities">
        <h1>Tokyo</h1>
      </div>
    </div>
  </div>
<div>

