<h1><%= @user.email %></h1>


<h4>Accomodations</h4>
<%= link_to "Post a new accomodation", new_accomodation_path %>
<ul>
  <% @user.accomodations.each do |i| %>
    <li><%= link_to i.description, accomodation_path(i) %></li>
  <% end %>
</ul>
