<%= content_for(:title, @user.email) %>
<h3><%= @user.email %></h3>


<h4>Accomodations</h4>

<ul id="user-accoms">
  <% @user.accomodations.each do |accomodation| %>
    <li><%= link_to accomodation.description, accomodation_path(accomodation)  %></li>
  <% end %>
</ul>
<% if @user == current_user %>
  <%= link_to "Post a new accomodation", new_accomodation_path %>
<% end %>
