<div id="header" class="nav navbar navbar-fixed-top">
    <ul class="nav navbar-nav pull-right">
      <li class="active"><a href="#">Sign in</a>
      <li class="active"><a href="#">Sign up</a>
      </li>
    </ul>
  </div>
</div>
